
<main id="content" class="ah-main-content">

  <article class="post">
    <header>
      <h2 class="ah-blog-title">About this blog and myself.</h2>
      <div class="subhead ah-subhead">
        on <time>2016-1-1 Monsday</time>
      </div>
    </header>
    <div class="ah-article-plist">

    <h4>AaronYin spend a lot of time on thinking how to apply Intelligent Algorithm in practice.</h4>
    <p>
        People use term AI, I use term CI, Computational Intelligence. As to me, they are different, AI is sort of a human-like thing, that act like human, including thinking and recognition.<br>
        But I pay more attention on how to provide solution to those problem in reality which require intelligence in certain extent.
    </p>
    <p>
        In fact, there are some problems raise my interest:
        <li>
            If we have data describing a group people, then can we match friend for each of them? I mean 
        </li>
    </p>

    <h4>AaronYin spend a lot of time on thinking Computational Intelligence and apply Intelligent Algorithm in practice.</h4>
    <p>
        
    </p>

    </div>

</article>
</main>



