
<main id="content" class="ah-main-content">

  <article class="post">
    <header>
      <h2 class="ah-blog-title">About this blog and myself.</h2>
      <div class="subhead ah-subhead">
        on <time>2016-1-1 Monsday</time>
      </div>
    </header>
    <div class="ah-article-plist">

    <h4>AaronYin is still a college student and will become a programmer/algorithm engineer in future</h4>
    <p>
        I am a student for now, so thoughts could be really immature(...).<br>
        And you are so welcome to contact me, by the contact infomation shown at the bottom of the page.
    </p>

    <h4>AaronYin spend most of his time on thinking how to apply Intelligent Algorithm in practice.</h4>
    <p>
        People use term AI, and I prefer term CI, Computational Intelligence. As to me, they are different, AI is sort of a human-like thing, that act like human, including thinking and recognition.<br>
        But I pay more attention on how to provide solution to those problem in reality which require intelligence somehow.
    </p>
    <p>
        What I believe is that algorithm is one thing, how to apply them to solve problem, is another story.<br>
        So I try to focus on how to extract and transform data into feature so it can fit better in machine learning model.<br>
        Also, I value dynamic update and computational performance more than better result.<br>
        Finally, I have to say, I don't really know how real business excatly need intelligence algorithm, and that's the part I need to figure out in future.<br>
        You can check my tech blog to see more about it.
    </p>
    <p>
        Upcoming ...
    </p>

    <h4>AaronYin spend the rest of his time on thinking about something called day dream</h4>
    <p>
        In fact, there are some problems raise my interest:
        <li>
            How to find smiliar music.<br>
            I love music since I was a kid, and I have great trouble finding music I am possible to like.<br>
            So it would be really helpful if there is a system that know me so well, so it can provide me music I like.
        </li>
        <li>
            How to find smiliar people.<br>
            I am not a sociable person, but it is because I can't find enough people who I can have happy time with.<br>
            So it would be really helpful if there is a system that know me so well, so it can provide me people I can make friend/workmate with.
        </li>
        <li>
            How to generate a random story.<br>
            I play computer game(not online game) a lot, because I love enjoy myself in a adventure. However, I get bored very soon, because most of game don't have a good story, thus I can't feel the joy of adventure.<br>
            So it would be really helpful if there is a system that know me so well, so it can provide me story I can have adventure in.
        </li>
        <li>
            How to make a chef robot.<br>
            Think about it, if you have a robot that can recognize food, and cook a such delicious meal for you. All you have to do is choose material, which can be ordered and delivered from supermarket around your place. <br>
            So it would be ......(you know what I gonna say)
        </li>
        <li>
            Upcoming ...
        </li>
    </p>

    <h4>About the style of this website</h4>
    <p>
        The style of this website is mirrored from its <a href="https://spacy.io/blog">original site-spaCy.io</a>, spaCy is quite awesome NLP toolkit in python/cython, I will definitely have a try since I got time.
    </p>

    </div>

</article>
</main>



