
<main id="content" class="ah-main-content ah-blog-intro">

    <!-- introduction of myself -->
    <article class="post">
      <header class="ah-blog-intro-header">
        <div class="ah-blog-intro-title ">
            <a class="ah-blog-intro-title-text" href="/blog/name/aaronyin-intro" target="_blank">
                <span >
                    About this blog and myself.
                </span>
            </a>
        </div>
        <div class="subhead ah-subhead">
            on <time>2016-1-1 Monsday</time>
        </div>
      </header>
      <p>
        In this blog, You can know more about me and the website itself.
      </p>
    </article>

    <!-- first blog -->
    <article class="post">
      <header class="ah-blog-intro-header">
        <div class="ah-blog-intro-title ">
            <a class="ah-blog-intro-title-text" href="/blog/name/lssc_ml" target="_blank">
                <span >
                    Introduction to a 50% new method for less-sample shape recognition.
                </span>
            </a>
        </div>
        <div class="subhead ah-subhead">
            on <time>2016-1-5 Monsday</time>
        </div>
      </header>
      <p>
        In this blog, instead of Neural Network Based method, we will use a Shape Context Based method to conquer the shape recognition problem with a constraint: only a very few samples to use.
        <!-- <a href="" class="readmore"> link</a> -->
      </p>
    </article>

    <article class="post">
      <header class="ah-blog-intro-header">
        <div class="ah-blog-intro-title ">
            <a class="ah-blog-intro-title-text" href="/blog/name/golang_extratrees" target="_blank">
                <span >
                    Bring the power of Extremely Randomized Trees to Golang.
                </span>
            </a>
        </div>
        <div class="subhead ah-subhead">
            on <time>2016-1-5 Monsday</time>
        </div>
      </header>
      <p>
        In this blog, a tree ensemble machine learning algorithm called Extremely Randomized Trees will be introduced and implemented in golang, which is expected to run faster than python scikit-learn's version.
      </p>
    </article>

    <article class="post">
      <header class="ah-blog-intro-header">
        <div class="ah-blog-intro-title ">
            <a class="ah-blog-intro-title-text" href="/blog/name/extra_kmenas_trees" target="_blank">
                <span >
                    If lost in Bipartite Graph Search, try find a way out in Extremely Randomized KMeans Trees.
                </span>
            </a>
        </div>
        <div class="subhead ah-subhead">
            on <time>2016-1-5 Monsday</time>
        </div>
      </header>
      <p>
        In this blog, another tree ensemble method is introduced. However, this method base on KMeans and thus used for clustering, with purpose of providing a efficient way to approximate k nearest neighbor searching.
      </p>
    </article>

    <article class="post">
      <header class="ah-blog-intro-header">
        <div class="ah-blog-intro-title ">
            <a class="ah-blog-intro-title-text" href="/blog/name/ml_database" target="_blank">
                <span >
                    Programmer : "hi, **database, can you tell me who is similar to user(a) and is most likely buy item(b)?" <br/>
                    **database : "......"
                </span>
            </a>
        </div>
        <div class="subhead ah-subhead">
            on <time>2016-1-5 Monsday</time>
        </div>
      </header>
      <p>
        In this blog, we will explore some probability of building a database which can provide efficient and intelligent data query(not usual sql) based on machine learning and data mining algorithm.
      </p>
    </article>


</main>

