
<main id="content" class="ah-main-content">

  <article class="post">
    <header>
      <h2 class="ah-blog-title">Introduction to a 50% new method for less-sample shape recognition.</h2>
      <div class="subhead ah-subhead">
        on <time>2016-1-5 Monsday</time>
      </div>
    </header>
    <div class="ah-article-plist">

    <h4>Background</h4>
    <p>
        Digit recognition is a classic task when talk about applying Neural Network as classifier. However, if you look closely to the famous MNIST dataset, you will find a very strange thing, which is shown below:
    </p>
    <img class="ah-normal-image" src="/static/image/mnist_zero.png"></img>
    <p>
        Obviously, this has been preprocessed, and make neural network avaliable to train. You will fail to train neural netowrk as expected, if use a digit image shown below:
    </p>
    <img class="ah-normal-image" src="/static/image/normal_zero.jpg"></img>
    <p>
        My point is, if we have a shape recognition task, and you dont have enough good samples, then what should we do?<br/>
        Moreover, what if the shape to recognize is random generated, yes, RANDOM.
    </p>
    <p>
        To conquer this a little strange task, I develop a algorithm based on <a href="https://en.wikipedia.org/wiki/Shape_context">Shape Context</a> (not sure whether this algorithm has been proposed by any other research paper, at least I couldn't find it from Google) .
    </p>

    <h4>LSSC: The distance metric of two shape</h4>
    <p>
        The algorithm is actually quite simple: <br/>
        That's say we have three shapes to recognize. see image below:
        <div class="ah-float-div">
            <img class="ah-float-image ah-normal-image"  src="/static/image/X.png"></img>
            <img class="ah-float-image ah-normal-image"  src="/static/image/Y.png"></img>
            <img class="ah-float-image ah-normal-image"  src="/static/image/Z.png"></img>
        </div><br/>
        And yes, it can work with only three sample image.
    </p>
    <p>
        First we need to crop the bounding rect of shape to remove blank area, and use a not so usual resample method to transform original image to 50*50(or other proper size you want) binary matrix.<br>
        The reason we don't use usual image resample algorithm is that mine(I call it grid-resize) is better... Check the image below, they are resized to 30*30, order by ( origin, grid-resize, opencv-resize )
        <div class="ah-float-div">
            <img class="ah-float-image ah-normal-image"  src="/static/image/wo.jpg"></img>
            <img class="ah-float-image " style="width:30px;height:30px;"  src="/static/image/30*30.grid_resize.jpg"></img>
            <img class="ah-float-image" style="width:30px;height:30px;" src="/static/image/30*30.resize.jpg"></img>
        </div><br/>
        As you can see, opencv-resize version is corrupted, but grid-resize version is still very clear. Grid resize draw a 30*30 grid on origin image, and then check each cell in grid, if there are points in this cell, then this cell is a new point in resized image.
    </p>
    <p>
        Then we use distance metric to compute the distance between each shape. The distance metric is inspired by Shape Context, which is much more complex and computational expensive.
<pre><code class="language-python"># python pesuedo code
def distance_of_shape(shape_x, shape_y):
    sum_distance = 0
    for pi in shape_x.get_all_points():
        pj = find_nearest_point(shape_y, pi)
        sum_distance += euclidean_distance(pi, pj)
    distance_of_shape_x_and_shape_y = sqrt(sum_distance)
</code></pre>
        The basic idea is to find nearest point of shape_y for each point in shape_x, and sum the distance up. Notice that this metric didnt satisfy the triangle principle.<br>
        We call this distance metric LSSC.
    </p>
    <p>
        And now that we can compare any input shape with shape{x, y, z}, and the nearest one is what we want.<br>
        But truth is, using LSSC is not good enough to be a classifier, we should find a way to extract feature vector of each shape.
    </p>

    <h4>LSSC-ML: Extract feature vector of a shape</h4>
    <p>
        A simple way to extract feature vector of a shape, is to choose a group of shape image as feature shape.<br>
        Then compare each shape in sample shape{x, y, z} to each shape in feature shape. The number of feature shape is N, so we can get a n_row=3, n_column=N dataset as X. Each row is a feature vector of a sample shape(can be x, y, or z), and each column of each row is the distance(calculate by LSSC) of sample shape and feature shape.
    </p>
    <p>
        After we have matrix like representation of sample shape, and we can now apply machine learning algorithm to the dataset.
    </p>
    <p>
        The predict will first transform input shape to feature vec, then use machine learning algorithm to do the predict job(well, you have to first train a model by sample shape dataset).And the result would be much more robust, comparing with LSSC.<br>
        We call this method LSSC-ML, which is the algorithm I proposed.
    </p>

    <h4>LSSC-ML in action</h4>
    <p>
        You must notice that I miss an important thing when introduce LSSC-ML: where can we find the feature shape?<br>
        Well, you can simply treat the sample shape itself as feature shape.
    </p>
    <p>
        There also remains some suggestions that will help LSSC-ML be useful in action, described as below:
        <ol>
        <li>
            To have better result, each feature should be distinctive enough, since the feature is produced by LSSC, a better way to calculate distance should be helpful.<br>
            The original method is not sensitive to small changes of shape.You can consider use method below:
<pre><code class="language-python"># python pesuedo code
def yet_another_distance_of_shape(shape_x, shape_y):
    sum_distance = 0
    for pi in shape_x.get_all_points():
        pj = find_nearest_point(shape_y, pi)
        # notice 1.0/euclidean_distance(pi, pj)
        sum_distance += 1.0/euclidean_distance(pi, pj)
    distance_of_shape_x_and_shape_y = sqrt(sum_distance)
</code></pre>
            This method is under the intuitive that the more near points two shape have, the more similar two shape is.<br>
            Unlike the original consider the more distant points two shape have, the more similar.
        </li>
        <li>
            Find another group of feature shapes that are more suitable for your task.<br>
            And I have a thought that maybe we should find feature shape by another algorithm(etc, global optimal search) instead of human selection.
        </li>
        <li>
            Use <a href="https://en.wikipedia.org/wiki/K-d_tree">KD Tree</a> or <a href="https://en.wikipedia.org/wiki/Ball_tree">Ball Tree</a> to find nearest point to speed up LSSC, otherwise it requires O(n*n), which is computational expensive. KD Tree is highly recommended, cause points are in two-dimension, which can benefit a lot from KD Tree.
        </li>
        </ol>
    </p>

    <h4>There is a demo of LSSC-ML</h4>
    <p>
        You can visit the <a href="/lssc_ml">demo</a>, to see if it is really working by draw X, Y, Z, or other shape you like, as I said, it can work with very few sample, which is something neural network fail to accomplish.<br>
        But please note that it is just a demo, and still quite buggy(Haven't got time to fix those bugs, though I am aware).
    </p>

    <h4>Conclusion</h4>
    <p>
        Why I call LSSC-ML 50% new, that's because all parts of LSSC-ML are just something old-fashion, but after composing them, we get a pretty useful algorithm. The point is, combining algorithm could be quite useful, and also, machine learning isn't just about SVM, KNN, Decision Tree or Neural Network, it is more about how to make data machine-learning-able.
    </p>

    <!-- <blockquote class="pull-quote">
      <p><span>Computers don't understand text. This is unfortunate, because that's what the web is mostly made of. <a href="https://twitter.com/share?text=%22Computers%20don%27t%20understand%20text.%20This%20is%20unfortunate,%20because%20that%27s%20what%20the%20web%20is%20mostly%20made%20of.%22&amp;url=https://spacy.io/blog/introducing-spacy&amp;via=spacy_io" title="Share on Twitter" target="_blank" class="share">Tweet</a></span></p>
    </blockquote> -->

    </div><!-- end of article -->
    
  </article>
</main>



