
<main id="content" class="ah-main-content">

  <article class="post">
    <header>
      <h2 class="ah-blog-title">
        Programmer : "hi, **database, can you tell me who is similar to user(a) and is most likely buying item(b)?" <br/>
        **database : "......"</h2>
      <div class="subhead ah-subhead">
        on <time>2016-1-1 Monsday</time>
      </div>
    </header>
    <div class="ah-article-plist">

    <h4>How excatly programmers do the data relevant task?</h4>
    <p>
        <img class="ah-normal-image" src="languages-data-mining-r-python-sql">
        As shown in the image, we can know that, about 30.6% data business is based on SQL, and 30.6% is not a small number. So my guess is company, perhaps small company want to use data science in their business, but using python and R to do machine learning or data mining is expensive(you need to hire more people), and they also don't have enough resource to run those complex algorithm. Under such circumstance, they can only use sql to solve their data task.
    </p>
    <p>
        Then what is the problem? Well, sql has two drawbacks, first one is sql is slow if you have so many questions to ask, second one is sql can't tell you smart answer, like who is similar, or who is guess. It can only tell you the fact, it can't geuss or make learn, or dig implicit pattern. So programmers have to do the thinking.
    </p>
    <p>
        But sql has its own adavantages, such as it can be interactive easy to use.
    </p>

    

    </div>

</article>
</main>



